.movie-card-image{
    height: 15rem;
    width: 25rem;
}
body{
    background-color: black ;
    color: white;
}
.position{  
    position: absolute;
    top: 192px;
    left: 8px;
    
}
.movie-card-image{
    position: relative;
}
.movie-card{
    display: block;
}